main {
    padding: 1rem 5rem;
}

.container {
    box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    height: fit-content;
}

.container p {
    line-height: 1.5;
    font-size: max(1.2rem,1vw);
}

.skillset {
    margin-top: 5rem;
}

.skillset ul {
    line-height: 2;
}

@media (min-width: 800px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }
}

@media(max-width: 450px) {
    main {
        padding: 1rem;
    }
}