main {
    height: 100%;
    min-height: 80vh;
    overflow-x: hidden;
}
.intro {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: large; 
    color: white;
}

.intro h2, h1 {
    font-weight: 600;
}

h1 {
    margin-top: 1.5rem;
    font-size: max(2rem,2.2vw);
}

h2 {
    margin: 0;
    font-size: max(1.5rem,1.8vw);
}

.greet {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.greet span {
    margin-top: -0.8rem;
    font-size: 200%;
    animation: wave 2s infinite;
    transform-origin: 90% 90%;
}
.cover-pic {
    margin-left: 5rem;
    margin-top: 2rem;
    width: 60%;
    max-width: 600px;
}

.role {
    margin: 1.5rem 0;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    width: fit-content;
    margin-right: 3rem;
    animation: blink 0.8s infinite ease,movement 5s ease-out 1s;
}

.web {
    visibility: visible;
    animation: hideWeb 1s forwards 2.5s;
}


.frontend {
    visibility: hidden;
    width: 0;
    margin-left: -0.2rem;
    animation: showFrontend 1s forwards 3s;
   
}

.icons {
    margin: 2rem;
    display: flex;
    gap: max(4vw,4rem);
    font-size: max(2vw, 2rem);
    width: max(fit-content,25vw);
}

.icon {
    min-width: 20px;
}

.icon:hover {
    cursor: pointer;
    color: black;
}

@keyframes wave {
    0%  { transform: rotate(0deg);  }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg) ; }
    100% { transform: rotate(0deg); }
}

@keyframes blink {
    from {
        border-right: 2px solid transparent;
    }
    to {
        border-right: 2px solid white;
    }
}

@keyframes movement {
    0% {
        width: max(214px,15vw);
    }

    50% {
        width: 1rem ;
    }

    100% {
        width: max(258px,18.7vw);
    }
}

@keyframes hideWeb {
    from {
      visibility: visible;
    }
    to {
      visibility: hidden;
      width: 0;
    }
  }

  @keyframes showFrontend {
    from {
      visibility: hidden;
    }
    to {
      visibility: visible;
      width: 100%;
    }
  }


@media (min-width: 800px) {
    main {
        display: flex;
        justify-content: center;
    }

    .cover-pic {
        
        width: 50%;
    }
}

@media (max-width: 350px) {
    .intro {
        margin-left: 0.5rem;
    }

    .icons {
        margin-right: 0rem;
        margin-top: 2rem;
        margin-left: 0rem;
    }
}

@media (min-width: 350px) and (max-width: 400px){
    .icons {
        margin-left: 0rem;
    }
}