
.navigation {
    height: 20vh;
    width: var(--width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.scrolled {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

.navigation img {
    width: 10%;
    max-width: 6rem;
    min-width: 4px;
    margin-left: 1rem;
}

.toggle-modal {
    font-size: xx-large;
    cursor: pointer;
    animation: toggle 0.8s forwards ease-in;
    margin-right: 1rem;
}
.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 20;
    color: transparent;
    width: 100%;
    font-weight: 600;
    background-image: linear-gradient(43deg,#4158d0,#c850c0 0,#ffcc70); 
    animation: mobileModal 0.5s ease forwards;
}

.mobile-nav a {
    color: transparent;
    text-decoration: none;
}

.mobile-nav a:hover {
    color: black !important;
}

.mobile-nav a:first-child {
    margin-top: 1rem;
}

.mobile-nav button {
    background-color: transparent;
    box-shadow: none;
    color: transparent;
    animation: showBtn 1s forwards 0.3s;
}

.mobile-nav a:nth-child(1) { animation: showLinks 1s ease-out forwards 0.1s; }
.mobile-nav a:nth-child(2) { animation: showLinks 1s ease-out 0.2s forwards; }
.mobile-nav a:nth-child(3) { animation: showLinks 1s ease-out 0.3s forwards; }
.mobile-nav a:nth-child(4) { animation: showLinks 1s ease-out 0.4s forwards; }

.desktop-modal {
    display: none;
}

.desktop-modal a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.desktop-modal a:hover {
    color: black;
}

button {
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    border: none;
    font-family: Raleway;
    font-weight: 600;
    color: white;
    font-size: large;
    cursor: pointer;
    background-color: transparent;
    -webkit-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
}

button:hover {
    color: black;
    background-image: linear-gradient(43deg,#4158d0,#c850c0);
}

.desktop-modal button {
    margin-top: -0.8rem;
}


@keyframes mobileModal {
    from {
        height: 1px;
    } 
    to {
        height: 220px;
    }
}

@keyframes showLinks {
    from {
        color: transparent;
    }

    to {
        color: white;
    }
}

@keyframes showBtn {
    from {
        background-color: transparent;
        box-shadow: none;
        color: transparent
    }

    to {
        background-color: transparent;
         color: white;
        -webkit-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.75);
    }
}

@keyframes toggle {
    from {
        color: #ffcc70
    }
    to {
        color: black;
    }
}

@media (min-width: 750px) {
    .toggle-modal {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-modal {
        display: flex;
        gap: 2rem;
        color: white;
        font-weight: 600;
        margin-right: 5rem;
        font-size: large;
    }
}