:root {
    font-family: Raleway;
    --width: ;
    --height: ;
}

html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: var(--width);
    height: var(--height);
    margin: 0;
    padding:0;
    background-image: linear-gradient(43deg,#324084,#c850c0 46%,#ffcc70);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
    overflow-y: scroll;
}
